<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<center>

    <img src="http://cvr.ac.in/cvrresults/images/jpglogo2.jpg" class="img-thumbnail"/>

<form method="POST" class="uniform">
    <p>
        <div class="container">    
        <div class="jumbotron">
            <b>
            Vision of College:<br/>
            </b>

To be a State of the Art Institution of Engineering in pursuit of
excellence, in the service of society.

<br>
<br>
<div class="container">
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <b>Mission of College:</b>
            <div class="carousel-item active text-center p-4">
                 1.To excel in providing quality education at under graduate and graduate levels.
            </div>
            <div class="carousel-item text-center p-4">
                2.To encourage research and innovation.
            </div>
            <div class="carousel-item text-center p-4">               
                3.To provide infrastructure and facilities to meet the latest technological needs.
            </div>
            <div class="carousel-item text-center p-4">               
                4.To establish Centers of Excellence through active interaction with industry.
            </div>
            <div class="carousel-item text-center p-4">              
                5.To nurture students towards holistic development with human values and ethics
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="container">
    <div id="carouselContent1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <b>Program Outcomes:</b>
            <div class="carousel-item active text-center p-4">
                 <b class="text-secondary">1.Engineering knowledge :</b> Apply the knowledge of mathematics, science, engineering fundamentals, 
                 and an engineering specialization to the solution of complex engineering problems.
                 <br>
                 <b class="text-secondary">2.Problem analysis :</b> Identify, formulate, review research literature, and analyze complex engineering 
                 problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.
            </div>
            <div class="carousel-item text-center p-4">
                <b class="text-secondary">3.Design/development of solutions :</b> Design solutions for complex engineering problems and design system components or processes
                 that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.
                <br>
                <b class="text-secondary">4.Conduct investigations of complex problems :</b> Use research based knowledge and research methods including design of experiments, 
                 analysis and interpretation of data, and synthesis of the information to provide valid conclusions.
            </div>
            <div class="carousel-item text-center p-4">               
                <b class="text-secondary">5.Modern tool usage :</b> Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including 
                prediction and modeling to complex engineering activities with an understanding of the limitations.
                <br>
                <b class="text-secondary">6.The engineer and society :</b> Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and 
                cultural issues and the consequent responsibilities relevant to the professional engineering practice.
            </div>
            <div class="carousel-item text-center p-4">               
                <b class="text-secondary">7.Environment and sustainability :</b> Understand the impact of the professional engineering solutions in societal and environmental 
                contexts, anddemonstrate the knowledge of, and need for sustainable development.
                <br>
                <b class="text-secondary">8.Ethics :</b> Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.
            </div>
            <div class="carousel-item text-center p-4">              
                <b class="text-secondary">9.Individual and team work :</b> Function effectively as an individual, and as a member or leader in diverse teams, and in 
                multidisciplinary settings.
                <br>
               <b class="text-secondary">10.Communication :</b> Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, 
               being able to comprehend and write effective reports and design documentation,make effective presentations, and give and receive clear instructions.
            </div>
            <div class="carousel-item text-center p-4">              
                <b class="text-secondary">11.Project management and finance :</b> Demonstrate knowledge and understanding of the engineering and management principles and apply these to one’s 
                own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.
                <br>
                <b class="text-secondary">12.Life long learning :</b> Recognize the need for, and have the preparation and ability to engage in independent and life long 
                learning in the broadest context of technological change.
            </div>
<br><br>
        </div>
        <a class="carousel-control-prev" href="#carouselContent1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>





        <fieldset class="uniform">   
            <b>GRADUATE ATTRIBUTE SYSTEM:</b> 
            <br>
        <label>
          <b>
             Enter Roll No
          </b>
        </label>
        <input type="text" name="rno">
        <br/>
        </fieldset>
        <button class="btn btn-primary">Submit</button>
        </div>
        </div>
    </p>
</form>
</center>
